In [2]:
# Libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

%matplotlib inline

In [13]:
#######################################  MyAnimeList-2020.cs ######################################################

In [14]:
df_anime_2020 = pd.read_csv('data/MyAnimeList-2020.csv', sep=';')
df_anime_2020.head()

,name,type,status,date,genres,score,members,rank,popularity,image,quantity
0,.hack//G.U. Returner,OVA,Finished Airing,"Jan 18, 2007","Magic, Adventure, Fantasy, Game, Sci-Fi, Drama",6.73,NaN,4679.0,3604,https://cdn.myanimelist.net/images/anime/11/23...,1.0
1,.hack//G.U. Trilogy,Movie,Finished Airing,"Mar 25, 2008","Action, Fantasy, Game, Sci-Fi",7.15,NaN,2946.0,2928,https://cdn.myanimelist.net/images/anime/4/230...,1.0
2,.hack//G.U. Trilogy: Parody Mode,Special,Finished Airing,"Mar 25, 2008","Fantasy, Game, Comedy, Sci-Fi, Parody",6.46,NaN,6017.0,4816,https://cdn.myanimelist.net/images/anime/10/86...,1.0
3,.hack//Gift,OVA,Finished Airing,"Nov 16, 2003","Comedy, Fantasy, Game",6.16,NaN,7407.0,3652,https://cdn.myanimelist.net/images/anime/2/230...,1.0
4,.hack//Intermezzo,Special,Finished Airing,"Mar 28, 2003","Adventure, Fantasy, Game, Magic, Mystery, Sci-Fi",6.57,NaN,5452.0,3464,https://cdn.myanimelist.net/images/anime/12/66...,1.0

In [15]:
df_anime_2020.describe()

              score      members          rank    popularity      quantity
count  11943.000000  6962.000000  15380.000000  17044.000000  16571.000000
mean       6.525741   333.379776   7795.068401   8645.815830     11.528695
std        0.881795   243.031385   4498.016570   4995.447682     47.873228
min        1.860000     0.000000      1.000000      1.000000      1.000000
25%        5.950000   146.000000   3895.750000   4319.750000      1.000000
50%        6.540000   251.000000   7794.500000   8642.500000      2.000000
75%        7.150000   473.000000  11685.250000  12968.250000     12.000000
max        9.220000   999.000000  15609.000000  17311.000000   3057.000000

In [17]:
df_anime_2020.shape #17,044 rows

(17044, 11)

In [18]:
df_anime_2020.isnull().sum()

name              0
type              0
status            0
date              0
genres           58
score          5101
members       10082
rank           1664
popularity        0
image          5419
quantity        473
dtype: int64

In [19]:
df_anime_2020.duplicated().sum() #only one duplicated row

1

In [20]:
################################### anime_from_anime_recommendations.csv  ##################################################

In [23]:
df_anime_from_anime_recommendations = pd.read_csv('data/anime_from_anime_recommendations.csv')
df_anime_from_anime_recommendations.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [25]:
df_anime_from_anime_recommendations.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [26]:
df_anime_from_anime_recommendations.shape  #12,294 rows

(12294, 7)

In [27]:
df_anime_from_anime_recommendations.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [28]:
df_anime_from_anime_recommendations.duplicated().sum() #no duplicate

0

In [29]:
################################### rating_from_anime_recommendations.csv  ##################################################

In [30]:
df_rating_from_anime_recommendations = pd.read_csv('data/rating_from_anime_recommendations.csv')
df_rating_from_anime_recommendations.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [31]:
df_rating_from_anime_recommendations.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [32]:
df_rating_from_anime_recommendations.shape

(7813737, 3)

In [33]:
df_rating_from_anime_recommendations.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [34]:
df_rating_from_anime_recommendations.duplicated().sum()

1